
/* ALL OF THE PAGE */
body {
    text-align: center;
    background-color: #FFF3F3;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0;
    color: white;
}

.container {
    width: 100%;
    padding: 24px;
    text-align: center;
}

/* LOGO */
.logo {
    width: 90%;
    margin-top: 10%;
    margin-bottom: 5%;
}

/* ICON */
.icon {
    height: 40%;
    width: 40%;
    border-radius: 50%;
    padding: 4%;
    margin-bottom: 20px;

}

/* SOCIAL ICONS */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 70px;
    font-size: 120px;
    margin-bottom: 30px;
}

/* TILES */
.tiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 40px;
}

.tiles a {
    margin: 10px 0;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 60px;
}

.tile1 { background: #F6DAD8;  width: 85%; padding: 25px; border-radius: 40px; }
.tile2 { background: #ECC8C6;  width: 85%; padding: 25px; border-radius: 40px; }
.tile3 { background: #E2B6B5;  width: 85%; padding: 25px; border-radius: 40px; }
.tile4 { background: #D8A4A3;  width: 85%; padding: 25px; border-radius: 40px; }
.tile5 { background: #CE9292;  width: 85%; padding: 25px; border-radius: 40px; }
.tile6 { background: #C48080;  width: 85%; padding: 25px; border-radius: 40px; }