@font-face {
    font-family: "Cocogoose";
    src: url("assets/Cocogoose-Pro-Regular.otf") format("opentype");
}

/* --- Global Styles --- */
body {
    text-align: center;
    background-color: #FFF3F3;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0;
    font-family: "Cocogoose", sans-serif;
}

a {
    color: #332325;
    text-decoration: none;
}

/* --- Container --- */
.container {
    width: 100%;
    padding: 24px;
    text-align: center;
}

/* --- Logo --- */
.logo {
    width: 90%;
    margin-top: 10%;
    margin-bottom: 5%;
}

/* --- Icon --- */
.icon {
    width: 50%;
    border-radius: 50%;
    padding: 4%;
}

/* --- Social Icons --- */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: 120px;
    margin-bottom: 30px;
    margin-top: 10px;
}

/* --- TILES MOBILE-FIRST --- */
.tiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.tiles > a,
.tiles > .tile1, .tiles > .tile2, .tiles > .tile3,
.tiles > .tile4, .tiles > .tile5, .tiles > .tile6 {
    margin: 10px 0;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    width: 86vw;
    max-width: 100%;
    min-height: 70px;
    border-radius: 40px;
    box-sizing: border-box;
    padding: 45px 0;
}

/* --- Tile Colors --- */
.tile1 { background: #F6DAD8; box-shadow: 0 15px #ECC8C6; }
.tile2 { background: #ECC8C6; box-shadow: 0 15px #E2B6B5;}
.tile3 { background: #E2B6B5; box-shadow: 0 15px #D8A4A3;}
.tile4 { background: #D8A4A3; box-shadow: 0 15px #CE9292;}
.tile5 { background: #CE9292; box-shadow: 0 15px #C48080;}
.tile6 { background: #C48080; box-shadow: 0 15px #776262;}

.contact { font-size: 43px; margin-top: 40px; }
.contact a{ text-decoration: underline; }
.rights { font-size: 25px; margin-bottom: 0px; margin-top: 60px;}
.footnote { margin-top: 1px; font-size: 25px; }
.footnote a { font-family: "orbitron", sans-serif;letter-spacing: 2px; font-weight: bold }

@media (min-width: 1000px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
    }
    .logo {
        width: 350px;
        margin-top: 5px;
        margin-bottom: 0;
    }
    .icon {
        width: 150px;
        padding: 10px 0 0 0;
    }
    .container { width: 60%; margin: 0 auto; padding: 48px; }
    .social-icons { font-size: 70px; gap: 65px; }
    .tiles {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px 32px;
        width: 150vw;
        max-width: 900px;
        justify-items: center;
        align-items: center;
    }

    .tiles > a,
    .tiles > .tile1, .tiles > .tile2, .tiles > .tile3,
    .tiles > .tile4, .tiles > .tile5, .tiles > .tile6 {
        font-size: 15px !important;
        width: 280px;
        height: 80px;
        min-height: 50px;
        border-radius: 999px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        box-shadow: 6px 1px 6px #ECC8C6;
        transition: box-shadow 0.14s;
        padding: 0 10px;
    }
    .contact {
        font-size: 30px;
        margin-top: 40px;
    }
    .rights, .footnote {
        font-size: 15px;
        margin: 0;
    }
}
